<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Post</title>
</head>
<style>
    body {
   background-color: #996a92;
   font-family: Arial, sans-serif;
   font-size: xx-large;
   text-align: center;
 }

</style>
<body>
    <h1>Edit Post</h1>
    <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <input type="text" name="title" value="<%= post.title %>" required><br>
        <textarea name="content" required><%= post.content %></textarea><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
